<% content_for :title do %>Puppet Forge PSE Dashboard<% end %>
    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
          <div data-id="welcome" data-view="Text" data-title="PSE TEAM" data-text="Puppet Forge Data displayed here" data-moreinfo="Protip: You can drag the widgets around!"></div>
        </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="my-table" data-view="Table" data-title="Forge Modules" data-moreinfo="All Team Modules and Downloads"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="top-contrib" data-view="List" data-unordered="false" data-title="PSE League Table" data-moreinfo="# Top PSE Modules on the Forge"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="all_downloads" data-view="Number" data-title="Total PSE Team Downloads" data-moreinfo="From the Puppet Forge"></div>
    </li>
    
  </ul>
    <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>